link(rel="import", href="../bower_components/polymer/polymer.html")
link(rel="import", href="../bower_components/iron-input/iron-input.html")
link(rel="import", href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import", href="../bower_components/paper-fab/paper-fab.html")
link(rel="import", href="../bower_components/neon-animation/neon-animated-pages.html")
link(rel="import", href="../bower_components/neon-animation/neon-animations.html")
link(rel="import", href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html")
link(rel="import", href="./behaviors/routing-behavior.html")
link(rel="import", href="../styles/shared-styles.html")
link(rel="import", href="../styles/app-theme.html")

dom-module(id="vt-app")
  template
    style(is='custom-style', include='app-theme shared-styles iron-flex')
    style.
      :host {
        height: 100%;
      }
      neon-animated-pages {
        height: 100%;
      }
      #filter {
        margin: auto 24px;
        color: #fff;
        background-color: var(--light-primary-color);
        border-radius: 2px;
      }
      #filter:hover {
        background-color: var(--paper-blue-50);
      }
      #filter input {
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
        font-size: 16px;
        margin: auto;
        display: inline-block;
        position: relative;
        top: 3px;
        width: calc(100% - 44px);
      }
      #filter input::-moz-placeholder {
        color: #fff;
      }
      #filter input:-moz-placeholder {
        color: #fff;
      }
      #filter input:-ms-input-placeholder {
        color: #fff;
      }
      #filter input::-webkit-input-placeholder {
        color: #fff;
        font-size: 16px;
      }
      paper-drawer-panel#paperDrawerPanel {
        --paper-drawer-panel-drawer-container: {
          background-color: #fafafa;
        }
      }
      .content {
        position: relative;
      }
    paper-scroll-header-panel#headerPanelMain(keep-condensed-header)
      paper-toolbar#mainToolbar
        paper-icon-button#paperToggle(icon='menu', paper-drawer-toggle='')
        h2.menu-name Politifact Reporter [[pageVars.mainTitle]]
        span#filter.space
          paper-icon-button.flex(icon='search', prefix)
          input.space(is='iron-input', placeholder='Filter', bind-value='{{filterText}}')
        paper-icon-button(icon='refresh', on-click='_refresh')
      .content
        paper-drawer-panel#paperDrawerPanel
          paper-menu.app-menu(drawer, fixed, attr-for-selected='data-route', selected='[[route]]')
            a(data-route='home', href='[[homePath()]]')
              iron-icon(icon='home')
              span Home
          div(main)
            neon-animated-pages#pages(attr-for-selected='data-route', selected='{{route}}', selected-item='{{page}}')
              section(data-route='home', tabindex='-1')
                h1.page-title(tabindex='-1') Home
                vt-list-manager(label='Person', items='[[allPeople]]', list-values='{{people}}', item-label-path='fullName', item-value-path='name_slug')
    template(is='dom-if', if='[[showFab]]')
      paper-fab#primaryFab(icon='add', on-click='fabAction')
    paper-toast#toast
      span.toast-hide-button(role='button', tabindex='0', on-click='_closeToast') Ok
    iron-ajax(url='/politifact/api/people/all/json', last-response='{{allPeopleRaw}}', auto)

script.
  Polymer({
    is: 'vt-app',
    behaviors: [ window.Behaviors.RoutingBehavior ],
    properties: {
      groupId: {
        type: String,
        notify: true
      },
      filterText: {
        type: String,
        notify: true
      },
      allPeopleRaw: {
        type: Array,
        notify: true
      },
      allPeople: {
        type: Array,
        computed: '_computeAllPeople(allPeopleRaw)',
        notify: true
      },
      people: {
        type: Array,
        notify: true
      }
    },

    displayInstalledToast() {
      // Check to make sure caching is actually enabled—it won't be in the dev environment.
      if (!Polymer.dom(document).querySelector('platinum-sw-cache').disabled) {
        Polymer.dom(document).querySelector('#caching-complete').show();
      }
    },

    // Scroll page to top and expand header
    scrollPageToTop() {
      this.$.headerPanelMain.scrollToTop(true);
    },

    closeDrawer() {
      this.$.paperDrawerPanel.closeDrawer();
    },

    _onUserClick(event) {
      // this.set('groupId', event.detail.groupId);
      this.set('route', 'user_form');
    },

    _onGroupClick(event) {
      // this.set('groupId', event.detail.groupId);
      this.set('route', 'group_form');
    },

    _onClose() {
      this.set('route', 'groups');
    },

    _computeAllPeople() {
      if (this.allPeopleRaw) {
        return this.allPeopleRaw.map(function(p) {
          p.fullName = [p.first_name, p.last_name].join(' ');
          return p;
        });
      }
      return [];
    },

    _refresh() {
      if (this.page && this.page.maybeRefresh) {
        this.page.maybeRefresh();
      }
    },

    _computeShowFab() {
      if (!this.page) {
        return;
      }
      var fabAction = this.page.fabAction;
      if (fabAction) {
        this.fabAction = fabAction.bind(this.page);
      }
      this.set('showFab', !!fabAction);
    },

    _closeToast() {
      this.$.toast.close();
    },

    observers: [
      '_computeShowFab(route)',
    ]
  });

