dom-module#datatable-styles
  template
    style.
      table.paper-datatable {
        font-family: 'Roboto', 'Noto', sans-serif;
        font-size: 13px;
        color: var(--primary-text-color);
        border-collapse: collapse;
        margin-top: 24px;
      }
      table.paper-datatable > thead > tr > th {
        height: 56px;
        font-size: 12px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.54);
        border-bottom: var(--drawer-border-color);
        text-align: left;
      }

      table.paper-datatable > tbody > tr > td {
        height: 48px;
        border-bottom: var(--drawer-border-color);
      }
      table.paper-datatable > tbody > tr > td > paper-checkbox {
        margin-right: -8px;
      }

      table.paper-datatable > thead > tr > th,
      table.paper-datatable > tbody > tr > td {
        padding: 0px 24px;
      }
      table.paper-datatable > tfoot > tr > td {
        height: 56px;
      }
      table.paper-datatable > {
      }
      table.paper-datatable > {
      }
      table.paper-datatable tbody td.number {
        text-align: right;
      }
